.game-scene {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/snake-game-background.png");
    background-size: cover;

    h2 {
        color: white;
        text-align: center;
    }

    .game-over {
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        box-sizing: border-box;
        transition: 0.3s;

        .title {
            text-align: center;
            padding-top: 50px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            margin: auto;

            button {
                margin-top: 50px;
            }
        }

        .final-score {
            margin-top: 50px;
        }

        .player-name {
            margin-top: 50px;

            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input {
                    margin-top: 20px;
                    width: fit-content;
                }
            }
        }
    }

    .pause {
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        height: 100vh;
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
        box-sizing: border-box;
        transition: 0.3s;

        .title {
            text-align: center;
            padding-top: 50px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            margin: auto;

            button {
                margin-top: 50px;
            }
        }
    }

    #game {
        width: 600px;
        height: 600px;
        //width: 100%;
        //height: 100vh;
        //position: absolute;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        z-index: 1;
    }

    .instructions {
        position: absolute;
        right: 0;
        width: 25%;
        height: 100vh;
        background-color: var(--color-extra-light-green);
        padding: 20px;
        border: 1px solid black;
        box-sizing: border-box;
        transition: 0.5s right;
        top: 0;

        &.close {
            right: -25%;
        }

        .labels {
            position: absolute;
            transform: rotate(-90deg);
            background-color: var(--color-extra-light-green);
            left: -96px;
            padding: 10px;
            border: 1px solid black;
            border-bottom: none;
            cursor: pointer;
            top: 120px;
        }

        .title {
            text-align: center;
            margin-bottom: 40px;

            h3 {
            }
        }


        .instruction {
            display: flex;
            align-items: center;
            margin-top: 20px;

            .image {
                img {
                    width: 40px;
                    height: auto;
                }
            }

            .text {
                padding-left: 20px;
            }
        }
    }

    .game-details {
        padding: 50px;

        p {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            &.hide {
                display: none;
            }

            img {
                height: 20px;
            }
            i {
                width: 33px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}