@font-face {
    font-family: 'MELTED PERSONAL USE';
    src: url('../../assets/fonts/MELTEDPERSONALUSE-Bold.eot');
    src: url('../../assets/fonts/MELTEDPERSONALUSE-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/MELTEDPERSONALUSE-Bold.woff2') format('woff2'),
    url('../../assets/fonts/MELTEDPERSONALUSE-Bold.woff') format('woff'),
    url('../../assets/fonts/MELTEDPERSONALUSE-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nasalization Rg';
    src: url('../../assets/fonts/NasalizationRg-Regular.eot');
    src: url('../../assets/fonts/NasalizationRg-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/NasalizationRg-Regular.woff2') format('woff2'),
    url('../../assets/fonts/NasalizationRg-Regular.woff') format('woff'),
    url('../../assets/fonts/NasalizationRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-size: 20px;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-family: "MELTED PERSONAL USE", sans-serif;
    font-size: 8rem;
}

h2 {
    margin: 0;
    font-family: "MELTED PERSONAL USE", sans-serif;
    font-size: 6rem;
}

table {
    font-family: "Nasalization Rg", sans-serif;
    text-align: center;
    width: 100%;

    &, td, th {
        border-bottom: 1px solid black;
        border-collapse: collapse;
    }

    th {
        background-color: #6C584C;
        color: white;
        padding: 0;
    }
    td, th {
        padding: 10px 0px;
    }

    tr:nth-child(even) {
        background-color: #ffd6a4;
    }

    tr:nth-child(odd) {
        background-color: #A98467;
    }
}

button {
    font-family: "Nasalization Rg", sans-serif;
    padding: 10px 20px;
    background-color: #A98467;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s;

    &:hover {
        background-color: #6C584C;
    }
}

button.main-button {
    font-size: 3rem;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button.small-button {
    font-size: 1.5rem;
}

main {
    width: 100%;
    height: auto;
    transform: translate(0, 0);
    transition: transform 0.7s ease-out;
    position: relative;

    &.game {
        transform: translate(0, -50%);
    }

    &.ranking {
        transform: translate(-100%, 0);
    }

    .menu {
        width: 100%;
        height: 100vh;
        z-index: 2;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: rgb(240,234,210);
        background: linear-gradient(180deg, rgba(240,234,210,1) 0%, rgba(221,229,182,1) 50%, rgba(173,193,120,1) 100%);
        background-size: cover;

        .title {
            text-align: center;
            padding-top: 50px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .game-scene {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../../assets/images/snake-game-background.png");
        background-size: cover;

        #game {
            width: 600px;
            height: 600px;
            //width: 100%;
            //height: 100vh;
            //position: absolute;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            z-index: 1;
        }
    }

    .ranking-scene {
        width: 100%;
        height: 100vh;
        z-index: 2;
        background: linear-gradient(180deg, rgba(240,234,210,1) 0%, rgba(221,229,182,1) 50%, rgba(173,193,120,1) 100%);
        position: absolute;
        background-size: cover;
        top: 0;
        left: 100%;

        .title {
            padding-top: 20px;
            text-align: center;
        }

        .scores {
            width: 80%;
            margin: auto;
            margin-top: 100px;

            .scores-tbody {
                overflow: auto;
                height: 60vh;
            }
        }

        .button-back {
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
