@font-face {
    font-family: 'MELTED PERSONAL USE';
    src: url('../../assets/fonts/MELTEDPERSONALUSE-Bold.eot');
    src: url('../../assets/fonts/MELTEDPERSONALUSE-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/MELTEDPERSONALUSE-Bold.woff2') format('woff2'),
    url('../../assets/fonts/MELTEDPERSONALUSE-Bold.woff') format('woff'),
    url('../../assets/fonts/MELTEDPERSONALUSE-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nasalization Rg';
    src: url('../../assets/fonts/NasalizationRg-Regular.eot');
    src: url('../../assets/fonts/NasalizationRg-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/NasalizationRg-Regular.woff2') format('woff2'),
    url('../../assets/fonts/NasalizationRg-Regular.woff') format('woff'),
    url('../../assets/fonts/NasalizationRg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark-brown: #6C584C;
    --color-brown: #A98467;
    --color-green: #ADC178;
    --color-light-green: #DDE5B6;
    --color-extra-light-green: #F0EAD2;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-size: 20px;
    overflow: hidden;
    font-family: "Nasalization Rg", sans-serif;
}

h1 {
    margin: 0;
    font-family: "MELTED PERSONAL USE", sans-serif;
    font-size: 8rem;
}

h2 {
    margin: 0;
    font-family: "MELTED PERSONAL USE", sans-serif;
    font-size: 6rem;
}

h3 {
    margin: 0;
    font-size: 2rem;
}

p {
    margin: 0;
}

input {
    font-family: "Nasalization Rg", sans-serif;
    padding: 10px 20px;
    outline: none;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

table {
    font-family: "Nasalization Rg", sans-serif;
    text-align: center;
    width: 100%;

    &, td, th {
        border-bottom: 1px solid black;
        border-collapse: collapse;
    }

    th {
        background-color: var(--color-dark-brown);
        color: white;
        padding: 0;
    }
    td, th {
        padding: 10px 0px;
    }

    tr:nth-child(even) {
        background-color: #ffd6a4;
    }

    tr:nth-child(odd) {
        background-color: var(--color-brown);
    }
}

button {
    font-family: "Nasalization Rg", sans-serif;
    padding: 10px 20px;
    background-color: var(--color-brown);
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s;

    &:hover {
        background-color: var(--color-dark-brown);
    }
}

button.main-button {
    font-size: 3rem;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button.small-button {
    font-size: 1.5rem;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-minus-90 {
    transform: rotate(-90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.white {
    color: white;
}

.center {
    text-align: center;
}

.font-size-30 {
    font-size: 1.5rem;
}

main {
    width: 100%;
    height: auto;
    transform: translate(0, 0);
    transition: transform 0.7s ease-out;
    position: relative;

    &.game {
        transform: translate(0, -50%);
    }

    &.ranking {
        transform: translate(-100%, 0);
    }

    .menu {
        width: 100%;
        height: 100vh;
        z-index: 2;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: var(--color-extra-light-green);
        background: linear-gradient(180deg, var(--color-extra-light-green) 0%, var(--color-light-green) 50%, var(--color-green) 100%);
        background-size: cover;

        .title {
            text-align: center;
            padding-top: 50px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .game-scene {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url("../../assets/images/snake-game-background.png");
        background-size: cover;

        h2 {
            color: white;
            text-align: center;
        }

        .game-over {
            position: fixed;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            height: 100vh;
            z-index: 100;
            display: flex;
            flex-direction: column;
            padding-bottom: 100px;
            box-sizing: border-box;
            transition: 0.3s;

            .title {
                text-align: center;
                padding-top: 50px;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                margin: auto;

                button {
                    margin-top: 50px;
                }
            }

            .final-score {
                margin-top: 50px;
            }

            .player-name {
                margin-top: 50px;

                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    input {
                        margin-top: 20px;
                        width: fit-content;
                    }
                }
            }
        }

        .pause {
            position: fixed;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            height: 100vh;
            z-index: 100;
            display: flex;
            flex-direction: column;
            padding-bottom: 100px;
            box-sizing: border-box;
            transition: 0.3s;

            .title {
                text-align: center;
                padding-top: 50px;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                margin: auto;

                button {
                    margin-top: 50px;
                }
            }
        }

        #game {
            width: 600px;
            height: 600px;
            //width: 100%;
            //height: 100vh;
            //position: absolute;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            z-index: 1;
        }

        .instructions {
            position: absolute;
            right: 0;
            width: 25%;
            height: 100vh;
            background-color: var(--color-extra-light-green);
            padding: 20px;
            border: 1px solid black;
            box-sizing: border-box;
            transition: 0.5s right;

            &.close {
                right: -25%;
            }

            .labels {
                position: absolute;
                transform: rotate(-90deg);
                background-color: var(--color-extra-light-green);
                left: -96px;
                padding: 10px;
                border: 1px solid black;
                border-bottom: none;
                cursor: pointer;
                top: 120px;
            }

            .title {
                text-align: center;
                margin-bottom: 40px;

                h3 {
                }
            }


            .instruction {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .image {
                    img {
                        width: 40px;
                        height: auto;
                    }
                }

                .text {
                    padding-left: 20px;
                }
            }
        }
    }

    .ranking-scene {
        width: 100%;
        height: 100vh;
        z-index: 2;
        background: linear-gradient(180deg, var(--color-extra-light-green) 0%, var(--color-light-green) 50%, var(--color-green) 100%);
        position: absolute;
        background-size: cover;
        top: 0;
        left: 100%;

        .title {
            padding-top: 20px;
            text-align: center;
        }

        .scores {
            width: 80%;
            margin: auto;
            margin-top: 100px;

            .scores-tbody {
                overflow: auto;
                height: 60vh;
            }
        }

        .button-back {
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
